.container {
  width: 100%;
  display: flex;
}

.container ul {
  flex: 1;
}

.container ul:not(:last-child) {
  border-right: var(--border);
}

@media screen and (max-width: 50em) {
  .container {
    flex-direction: column;
  }
  .container ul:not(:last-child) {
    border-bottom: var(--border);
  }
}
