.primary {
  min-width: 50vw;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.primary input {
  flex: 1;
}

.primary button {
  background-color: var(--light);
  flex-shrink: 0;
}

.primary button:hover {
  background-color: var(--accent);
}
