.primary {
  all: unset;
  padding: 0.5rem 1.5rem;
  color: var(--light);
  transition: background-color 0.2s ease;
  border-bottom: var(--border);
  caret-color: var(--light);
  letter-spacing: 4px;
}

.primary::placeholder {
  font-size: 1.25rem;
}

@media screen and (max-width: 50em) {
  .primary::placeholder {
    font-size: 0.85rem;
  }
}
