@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #012c3d;
  --light: #f7f8f3;
  --accent: #78bdc4;
  --active: #f8444f;
  --border: 1px solid rgba(247, 248, 243, 0.3);
}

body {
  min-height: 100vh;
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  background-color: var(--dark);
}
